# Docker volumes / runtime-данные
cloudbeaver/workspace/
postgresql/data/
postgresql/backups/
homehub/uploads/
homehub/media/
homehub/pdfs/
homehub/data/

# Секреты
.env

# Служебное
.vscode/
.idea/
*.log
*.tmp
.DS_Store
Thumbs.db
